footer
  .wrapper.footer__wrapper
    a.logo(href="#") Logo
    h1.title Footer
    a.btn.btn-download__btn.show__form(data-subject="footer-subject",href="#") Тык

include popup-form.pug
include scripts.pug