include includes/head.pug
body
  include includes/header.pug
  main(role='main')
    section.section
      .wrapper
        a.logo(href="#") Logo
        h1.title Main
        a.btn.btn-download__btn.show__form(data-subject="main-subject",href="#") Тык
  include includes/footer.pug